/* PRINCIPAL */

body{
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;

}

/* SOCIAL */

.social{
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

/* FIM DO SOCIAL */

/* LOGO */

.Logo{
	background-color:#000000;
}
.logo2{
	margin-left: 15px;
	margin-top: 10px;
}

/* FIM DO LOGO */


/* LAYOUT HOME */

.Layout{
	height: 350px;
	padding-top: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.Layout p{
	text-align:center;
	color: #000000;
	font-size: 2.5em;
}

.DivTexto{
	background-color: #000000;
}


.Destaque{
	padding: 150px 0px 200px 0px; /* box model */
	max-width: 1024px;
	margin: 0 auto;
}

.titulo{
	margin-top: -310px;
	margin-left: 20px;
	color: #ffffff;
	font-size: 40pt;
}

.texto{
	margin-top: -30px;
	margin-left: 20px;
	color: #ffffff;
}

.titulo2{
	margin-top: -550px;
	margin-left: 250px;
	color: #ffffff;
	font-size: 40pt;
}

.texto2{
	margin-top: -15px;
	margin-left: 250px;
	color: #ffffff;
}

.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #DCDCDC;
	color: #000000;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1183px;
	bottom: -80px;

}

.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #DCDCDC;
	color: #000000;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 953px;
	bottom: -1280px;

}

.foto{
	margin-left: -230px;
	margin-top: -120px;
}


/* FIM DO LAYOUT HOME*/

/* MENU */

.side-menu-wrapper { /* style menu wrapper */
	background: rgba(0,0,10,.95);
	padding: 40px 0 0 40px;
	position: fixed; /* Fixed position */
	top: 0;
	left: 0; /* Sidebar initial position. "right" for right positioned menu */
	height: 100%;
	z-index: 2;
	transition: 0.5s; /* CSS transition speed */
	width: 200px;
	font: 20px "Courier New", Courier, monospace;
	box-sizing: border-box;

}

.side-menu-wrapper > ul{ /* css ul list style */
	list-style:none;
	padding:0;
	margin:0;
    overflow-y: auto; /* enable scroll for menu items */
	height:95%;

}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #ffffff;
    transition: 0.3s;
	text-decoration: none;

}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #ffffff;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;

}


.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;

}

.menu-open{
	    display:block;
		background-color: #000000;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;
}

/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	z-index: 3;
}
nav li:hover ul{
	display: none;

}

nav ul li a:hover{
	background-color: #00bfff;
	transition: all 0.27s; /* efeito transição (0 a 1) */
	
}



/* FIM DO MENU */

/* PAGINA CONTEUDO */

.imagem1{
	text-align: center;
	position: relative;
	padding: 30px;

}

.h1conteudo{
	margin-top: 45px;
	text-align: center;
}

.h2conteudo{
	position: relative;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 25px;
	font-size: 0.775em;
	padding: 20px;
}

.h3conteudo{
	margin-top: 25px;
	margin-left: 150px;
	margin-right: 150px;
	position: relative;
	padding: 20px;
	font-size: 0.985em;

}

/* FIM DA PAGINA CONTEUDO */

/* FORMULARIO DE CONTATO */
#contato{
	width: 60%;
	margin: 0 auto;
	margin-top: 45px;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 80px 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid: #ffffff;
	padding: 10px 25px 10px 25px;
	color: #000000;
}

/* FIM DO FORMULARIO CONTATO */

/* PAGINA PECADOS */

.meliodas{
	padding: 10px;
	margin-left: 620px;
}

.ban{
	margin-left: 300px;
	padding: 10px;
}

.diane{
	padding: 10px;
	margin-left: 300px;
}

.logo{
	margin-top: 10px;
}

.gif{
	text-align: center;
	margin-top: 50px;
}

/* FIM DA PAGINA PECADOS */	

/* PAGINA SOBRE */

.github{
	float: left;
	margin-top: 60px;
	text-align: center;
	margin-left: 600px;
	margin-bottom: 30px;
}

.ninjamock{
	float: right;
	margin-top: 60px;
	text-align: center;
	margin-right: 600px;
}

.webhost{
	float: left;
	text-align: center;
	margin-left: 100px;
	margin-top: 60px;
}

/* FIM DA PAGINA SOBRE */

/* TRATAMENTO RESPONSIVO */

@media screen and (max-width: 480px){

/* PAGINA PECADOS */
.meliodas{
	margin-left: 65px;
}
.ban{
	margin-left: 65px;
}
.merlin{
	margin-left: 65px;
}
.king{
	margin-left: 65px;
}
.diane{
	margin-left: 65px;
}
.gowther{
	margin-left: 65px;
}
.escanor{
	margin-left: 65px;
}

/* FIM DA PAGINA PECADOS */

/* PAGINA CONTEUDO */
 
.h2conteudo{
	margin-left: 0px;
	margin-right: 0px;
	
}
.h3conteudo{
	margin-left: 0px;
	margin-right: 0px;
}
.imagem2{
	max-width: 470px;
	margin-left: -25px;
}
.imagem3{
	max-width: 470px;
	margin-left: -25px;
}
.imagem4{
	max-width: 470px;
	margin-left: -25px;
}
.imagem5{
	max-width: 470px;
	margin-left: -25px;
}
.imagem6{
	max-width: 470px;
	margin-left: -25px;
}
.imagem7{
	max-width: 470px;
	margin-left: -25px;
}
.imagem8{
	max-width: 470px;
	margin-left: -25px;
}

/* PAGINA CONTATO */

.gif{
	max-width: 470px;
	margin-left: -25px;
}

/* FIM DA PAGINA CONTATO */

/* PAGINA SOBRE */

.github{
	margin-left: 100px;
}
.ninjamock{
	margin-right: 100px;
}